<div class="sombra">
    <div class="player" data-src="">
        <div class="contorno-video">
            <div class="video">
                <div class="progress"></div>
            </div>
        </div>
        <div class="controls">
            <div class="circulos">
                <div class="fila1">
                    <div class="play"><i class="play"></i></div>
                </div>
                <div class="fila2">
                    <div class="pause"><i class="pause"></i></div>
                </div>
            </div>

            <div class="flechas">
                <div class="fila1">
                    <div class="arriba"></div>
                </div>
                <div class="fila2">
                    <div class="izquierda"><i class="izquierda"></i></div>
                    <div class="centro"></div>
                    <div class="derecha"><i class="derecha"></i></div>
                </div>
                <div class="fila3">
                    <div class="abajo"></div>
                </div>
            </div>
        </div>
        <div class="controls2">
            <div class="fila1">
                <div class="start"></div>
                <div class="pausa"></div>
            </div>
            <div class="fila2">
                <div class="audio">
                    <div class="fila2">
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>

                    </div>
                    <div class="fila1">
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                    </div>
                    <div class="fila1">
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                    </div>
                    <div class="fila1">
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                    </div>
                    <div class="fila1">
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                    </div>
                    <div class="fila1">
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                    </div>
                    <div class="fila2">
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                        <div class="orificio"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>